nltk==3.7
pafy==0.5.5
pandas==1.5.1
pdfminer3==2018.12.3.0
Pillow==9.3.0
plotly==5.11.0
PyMySQL==1.0.2
pyresparser==1.0.6
spacy==2.3.5
en_core_web_sm
streamlit==1.14.0
streamlit_tags==1.2.8
youtube-dl